@charset "UTF-8";

Body{
	font-size: 14pt;
}

Header{
	display:flex;
	/*background-color: #4c445b;*/
	align-items: center;
	margin-bottom:20px;
	border: 1px solid #cccccc;
	padding:5px;
}
.logo_holder{
	display:flex;
	align-items: center;
	height:75px;/*Header_height-5*/
}
.logo_holder *{
	height:100%;
}

.btn {
	font-size: 14pt;
}

.btn-secondary:hover {
    color: #000;
    background-color: #ccccff;
}

.textCenter{
	text-align:center;
}

.welcome{
	padding: 80px 0px 40px 0px;
}
.welcome *{
	font-size: 30pt;
}
.notMember{
	padding: 40px 0px 0px 0px;
}
.notMember *{
	font-size: 16pt;
}

/* ==================================REGISTRATION==================================== */
.red{
	color:red;
}
.serverMsg{
	padding: 8px;
	border: 1px solid red;
	border-radius: 4px;
	background-color: #ffcccc;
}
.serverMsg *{
	color: #000;
    text-align: center;
    margin: 0px;
}
form{
	border: 2px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

form input[type="text"], form input[type="password"]{
	height: 30px;
}

.textHeader{
	font-size: 18pt;
	padding: 10px;
}

.formRow{
	padding-top:5px;
	padding-bottom:5px;
	display: flex;
	align-items: center;
}

.formRow p, Header p{
	margin-bottom:0;
}

.right{
	float:right;
}

.formButton{
	margin:20px;
}
/*=======================================THANK FOR REGISTRATION==============================*/

.textMessage{
	padding: 5px 0px 10px 0px;
}

/* ====================================LOGIN============================================ */

.formButtonGroup{
	display:flex;
	justify-content: space-between;
}


/*========================================ADMIN_MAIN==================================================== */

.events{
	border-radius: 100px;
	padding:5px;
}

.vertical{
	display:flex;
	flex-direction: column;
}


/*======================================================PAGINATION==========================================*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20,
.col-21, .col-22, .col-23, .col-24, .col-25, .col-26, .col-27, .col-28, .col-29, .col-30 {
	
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}

.col-1 {
    width: 3.3333333334%;
}
.col-2 {
    width: 6.6666666667%;
}
.col-3 {
    width: 9.9999999999%;
}
.col-4 {
    width: 13.3333333334%;
}
.col-5 {
    width: 16.6666666667%;
}
.col-6 {
    width: 19.9999999999%;
}
.col-7 {
    width: 23.3333333334%;
}
.col-8 {
    width: 26.6666666667%;
}
.col-9 {
    width: 29.9999999999%;
}
.col-10 {
    width: 33.3333333334%;
}

.col-11 {
    width: 36.6666666667%;
}
.col-12 {
    width: 39.9999999999%;
}
.col-13 {
    width: 43.3333333334%;
}
.col-14 {
    width: 46.6666666667%;
}
.col-15 {
    width: 49.9999999999%;
}
.col-16 {
    width: 53.3333333334%;
}
.col-17 {
    width: 56.6666666667%;
}
.col-18 {
    width: 59.9999999999%;
}
.col-19 {
    width: 63.3333333334%;
}
.col-20 {
    width: 66.6666666667%;
}

.col-21 {
    width: 69.9999999999%;
}
.col-22 {
    width: 73.3333333334%;
}
.col-23 {
    width: 76.6666666667%;
}
.col-24 {
    width: 79.9999999999%;
}
.col-25 {
    width: 83.3333333334%;
}
.col-26 {
    width: 86.6666666667%;
}
.col-27 {
    width: 89.9999999999%;
}
.col-28 {
    width: 93.3333333334%;
}
.col-29 {
    width: 96.6666666667%;
}
.col-30 {
    width: 100%;
}
